<html>
<head>
    <meta content="text/html;" charset="UTF-8" http-equiv="Content-Type" />
</head>
<body bgcolor="#FFFFFF" marginheight="0" marginwidth="0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#FFFFFF">
        <tr>
            <td>
                <div style="height: 30px;background-color: rgb(33, 45, 51);">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-family:'Arial',sans-serif; font-size: 15px; padding: 30px;text-align: center;">
                    <!--<img src="img/logo_megatop_png_cinza.png"/>--><br /><br />
                    <h2 style="font-family:'Arial',sans-serif; color: #303030;"><div style="color:rgb(237, 29, 73);">CHEGOU O SEU EMAIL!</div></h2>
                    <div style="font-family:'Arial',sans-serif; font-size: 17px; color: #474646;text-align: left">

                        <p style="background-color: #eeeeee; padding: 15px; position: relative; left: -15px;">
                            <b>NOME:  </b> [NOME]<br><br>
                            <b>EMAIL:  </b> [EMAIL] <br><br>
                            <b>ASSUNTO:  </b> [ASSUNTO] <br><br>
                            <b>MENSAGEM:  </b> [MENSAGEM] <br><br>

                        </p>
                        <br /><br />
                        <p>

                        </p><p style="text-align: center;"><i> Este e-mail foi enviado automaticamente pelo sistema.</i></p>
                    </div>
                </div>
            </td>
        </tr>
        <tr><td><div style="font-family:'Arial',sans-serif; font-size: 15px; padding: 15px; background-color: rgb(33, 45, 51); color: rgb(237, 29, 73);text-align: center;"><b>Jaiminho / SocialMente</b></div></td></tr>
    </table>
</body>
</html>