################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Repositorio/v16
/.vs/slnx.sqlite
/.vs
